body{
	margin: 0;
	padding: 0px;
	font-family: Helvetica, Arial, sans-serif;
	display: grid;
  	grid-template-columns: repeat(8, 1fr);
}

/* HEADER */
header {
	border-bottom: solid thin green;
	background-image: linear-gradient(to bottom,#F1FF9E 20%,#B6FFAB 80%);
	position: sticky;
	top: 0;
	padding-left: 10px;
	grid-area: 1 / 1 / 2 / -1;
}

#logo {
	float: left;
} 

#companyName{
	text-shadow: 2px 2px 3px #B36D66;
	float: left;
}

/* search part */
#searchForm {
	padding-top: 20px;
	float: left;
}

#keywordBox{
	border-radius: 8px;
	min-height: 23px;
	width: 200px;
}

.nav{
	margin-right: 15px;
	float: right;
	display: inline-block;
}

.nav ul.menu{
	float: left;
}

.nav ul.menu li{
	float: left;
	list-style-type: none;
}

.nav ul.menu li a, .nav ul.menu li a:link, .nav ul.menu li a:active {
	display: block;
	padding: .5em;
	margin: 0 2px;
	color: #238FBC;
	letter-spacing: 1px;
}

.nav ul.menu li a:hover, .nav ul.menu visited {
	text-decoration: none;
	font-weight: bold;
	color: #003c54;
	border-bottom: 2px solid #003c54;
	padding-bottom: 0.3em;
}

ul.menu .sub-menu {
	display: none;
	max-width: 150px;
	padding-bottom: 8px;
	background-color: #fff;
	position: absolute;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 3;
}

ul.menu .sub-menu li{
	text-decoration: none;
	color: #238FBC;
}

li.dropdown:hover .sub-menu {
	display: block;
}


/* aside part */
aside {
	background-color: #EFEFEF;
	padding: 18px;
	color: #000;
	grid-area: 2 / 7 / 4 / -1;
	font-size: 12px;
	line-height: 180%;
}

.aside .news p {
	padding-bottom: 15px;
	border-bottom: 1px solid #707372;
}

span {
	color: red;
}

section {
	margin-bottom: 20px;
	padding: 25px;
	border: solid thin grey;
}

h4 {
	padding-bottom: 5px;
	border-bottom: 2px solid green;
}

.vote{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.vote .p{
	border: solid thin #ccc;
	padding-left: 5px;
	text-align: left;
	color: #fff;
	background-image: linear-gradient(to right, #2c3e50 20%, green 80%);
	height: 14%;
}

.vote .p1 {width: 100%;}
.vote .p2 {width: 90%;}
.vote .p3 {width: 60%;}
.vote .p4 {width: 70%;}
.vote .p5 {width: 80%;}


/* main part */
main {
	background-color: #B6FFAB;
	grid-area: 2 / 1 / 4 / -1;

	/* Nested grid for thr main section
	 * to properly align and control the
	 * placement of <aside> and <article>
	 */
	display: grid;
	grid-template-columns: repeat(8, 1fr);
}

#background {
	width: 100%;
}

h1 {
	text-shadow: 2px 2px 3px #B36D66;
}



h2 {
	color: #F2AC00;
	text-transform: uppercase;
	text-decoration: underline;
	text-decoration-color: green;
}

#article {
	padding: 25px;
	grid-area: 2 / 1 / 4 / 7;
}

#services {
	/*Tree image From URL: https://i.pinimg.com/originals/fc/91/6b/fc916b4ad080073228255a6a6cd099c6.png*/
	background-image: url("../img/tree.png");
  	background-repeat: no-repeat;
  	background-position: right bottom;
  	background-size: 40%;
}


/*table: Price*/
table{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-collapse: collapse;
}

table tr:nth-child(odd) {
	background-color: lightgrey;
}

table tr:nth-child(even) {
	background-color: grey;
}

th{
	border: solid thin white;
	padding: 10px 10px 10px 10px;
	background-color: #0c74c9;
	color: white;
}

td {
	border: solid thin white;
}

#contact {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#contact h2{
	width: 100%;
}

#contact div {
	width: 40%;
}


/* footer */
.footer {
	border-top: solid thin green;
	background-image: linear-gradient(to bottom,#B6FFAB 20%,#BAE890 80%);
	font-size: 0.8em;
	text-transform: uppercase;
	margin-bottom: 10px;
	height: 70px;
	color: black;
	padding: 16px;
	grid-area: 4 / 1 / 5 / -1;
}

#copyright {
	line-height: 52px;
	float: left;
}

.footer .nav .menu li a{
	color: black;
}

.footer .nav .menu li a:hover{
	color: blue;
}

/*
 * Devices and Screen widths
 * 1. mobile Phone -- 500px
 * 2. Tablets -- 1000px
 * 3. Desktop/laptop  computers-- anything beyond
 */
   

/* 
 * Layout Variation 1: Tablet
 */

@media screen and (max-width: 1000px) {
	/* Specify only what will change */
	aside {
		grid-area: 3 / 1 / 4 / -1;
	}

	#article {
		grid-area: 2 / 1 / 3 / -1;
	}

	#searchForm {
		display: none;
	}

	.footer {
		height: 100px;
	}
}


 /* 
 * Layout Variation 2: Small Phone
 */
@media screen and (max-width: 500px) {
	/* Specify only what will change */
	aside {
		display: none;
	}

	#article {
		grid-area: 2 / 1 / 4 / -1;
	}
}


 